body{
    background-image: linear-gradient(rgba(255, 255, 255, 0.364), rgba(255, 255, 255, 0.34)), url("/public/background/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.img{
    width: 100%;
    position: center;
}